footer.footer
    .wrapper.wpapper--footer 
        .footer__links
            +footer__link("tel:+79069967386", "+7 (906) 996-73-86")
            +footer__link("mailto: artiom.kochkin@yandex.ru", "artiom.kochkin@yandex.ru")
        .footer__socials
            +footer__social("https://vk.com/bastard300", "@img/svg/vk.svg", "vk")
            +footer__social("https://github.com/ArtiomKochkin", "@img/svg/github.svg", "github")
            +footer__social("https://www.instagram.com/artyom_kch", "@img/svg/instagram.svg", "instagram")
    .footer__copyright Copyright ©2023 Артем Кочкин. Все права защищены.