header.header
    .wrapper.wrapper--header
        .header__logo Lorem GENERATOR
        .header__gh
            a.header__link(href="https://github.com/ArtiomKochkin", target="_blank")
                img.header__img(src="@img/svg/github-header.svg", width="40")