.header {
    background-color: $primary;
    padding: 1.5rem 0;

    @include breakpoint($mobile) {
        padding: 1rem 0;
    }
}

.header__logo {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    color: $black;
}